@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*-----------------------------------------------------------------------------*/

*, *::before, *::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #E9F0F3;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
}

/*-----------------------------------------------------------------------------*/
.sb-site-container > .cp-header {
	position: relative;
	background-color: #03A678;
	color: white;
	line-height: 50px;
	padding: 0px 15px;
}

.cp-header > .btn-menu,
.cp-header > .btn-search {
	display: inline;
}

.cp-header > .btn-search {
	position: absolute;
	right: 15px;
}

.cp-header > h1 {
	font-size: 1.7rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -mo-transform: translate(-50%, 0);    
    transform: translate(-50%, 0);
}
/*-----------------------------------------------------------------------------*/

.sb-site-container > .cp-container{
	padding: 30px 10px;
}

/*-----------------------------------------------------------------------------*/

.thumbnail {  /* Contenedor del Thumbnail */
	margin: 0px auto 20px auto;
	position: relative;
	padding: 1rem;
	background-color: #FFFFFF;
	max-width: 550px;
}

.thumbnail > h1 { /* Titulo Principal */
	color: #2BC77D;
	font-size: 1.5rem;
}

.thumbnail > h2 { /* Descripcion */
	font-style: italic;
	margin-top: 1rem;
	font-size: 1rem;
}

.tn-publicacion { /* Contenedor de informacion extra */
	position: relative;
	margin-top: 1.6rem;
}

.tn-def{ /* Contenedor Foto y Nombre Autor*/
	position: absolute;
	margin: 0.3rem 0px 0px 0.9rem;
}

.tn-publicacion > img { /* Foto Autor */
	border-radius: 50%;
}

.tn-publicacion > .tn-def > p { /* Nombre Autor */
	font-size: 1rem;
}
.tn-publicacion > .tn-def > span { /* Fecha Publicacion */
	font-size: 0.8rem;
	position: absolute;
}

.tn-def,
.tn-cool{
	display: inline-block;
}

.tn-cool{
	position: absolute;
	right:0;
	bottom: 0;
}

.tn-cool > .likes,
.tn-cool > .views{
	font-size: 1rem;
}

.tn-cool > .hearth{
	color: #F97E76;
	font-size: 1.4rem;
}

.tn-cool > .eye{
	color: #646d78;
	font-size: 1.6rem;
}

.space{
	margin:0px 3px;
}

/*-----------------------------------------------------------------------------*/
