@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);

/*-----------------------------------------------------------------------------*/

*, *::before, *::after{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

body {
	background-color: #E9F0F3;
	font-size: 1.6rem;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;

	/* UX */
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

a {
	text-decoration: none;
	color: white;
}

/*-----------------------------------------------------------------------------*/

.sb-site-container > .cp-header {
	position: relative;
	background-color: #16A086;
	color: white;
	line-height: 50px;
	padding: 0px 15px;
}

.cp-header > .btn-left,
.cp-header > .btn-right {
	display: inline;
}

.cp-header > .btn-right {
	position: absolute;
	right: 15px;
}

.cp-header > h1 {
	font-size: 1.7rem;
    position: absolute;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -mo-transform: translate(-50%, 0);    
    transform: translate(-50%, 0);
}
/*-----------------------------------------------------------------------------*/

.sb-site-container > .cp-container{
	padding: 30px 10px;
}

/*-----------------------------------------------------------------------------*/

.thumbnail,
.noticia,
.evento {  /* Contenedor del Thumbnail y Noticia*/
	margin: 0px auto 20px auto;
	position: relative;
	padding: 1rem;
	background-color: #FFFFFF;
	max-width: 700px;
}

/*-----------------------------------------------------------------------------*/

.thumbnail > a > h1 { /* Titulo Principal */
	color: #2BC77D;
	font-size: 1.5rem;
}

.thumbnail > h2 { /* Descripcion */
	font-style: italic;
	margin-top: 1rem;
	font-size: 1rem;
}

.thumbnail > a > img {
	display: block; 
	margin: auto;
}

.tn-publicacion { /* Contenedor de informacion extra */
	position: relative;
	margin-top: 1.6rem;
}

.tn-def{ /* Contenedor Foto y Nombre Autor*/
	position: absolute;
	margin: 0.3rem 0px 0px 0.9rem;
}

.tn-publicacion > img { /* Foto Autor */
	border-radius: 50%;
}

.tn-publicacion > .tn-def > p { /* Nombre Autor */
	font-size: 1rem;
}
.tn-publicacion > .tn-def > span { /* Fecha Publicacion */
	font-size: 0.8rem;
	position: absolute;
}

.tn-def,
.tn-cool{
	display: inline-block;
}

.tn-cool{
	position: absolute;
	right:0;
	bottom: 0;
}

.tn-cool > .likes,
.tn-cool > .views{
	font-size: 1rem;
}

.tn-cool > .hearth{
	color: #F97E76;
	font-size: 1.4rem;
}

.tn-cool > .eye{
	color: #646d78;
	font-size: 1.6rem;
}

.space{
	margin:0px 3px;
}

/*-----------------------------------------------------------------------------*/

.noticia > img{
	max-width: 100%;
}

.noticia > h1{
	margin-bottom: 10px;
	color: #2BC77D;	
	font-size: 2.5rem;
}

.noticia > p{
	margin-bottom: 50px;
	font-size: 1.6rem;
}

/*Social*/

.noticia > .social{
	margin: 20px 0px;
	text-align: center;
}

.noticia > .social > .btn-f, .btn-t{
	text-align: center;
	font-size: 1.2rem;
	padding: 0.5rem;
}

.noticia > .social > a {
	display: block;
	margin: 10px auto;
	max-width: 300px;
}
.noticia > .social > a > i{
	margin-right: 7px;
}

.noticia > .social > .btn-f {
	background-color: #2D5F9A;
}

.noticia > .social > .btn-t {
	background-color: #00C3F2;
}
/*-----------------------------------------------------------------------------*/

.sb-menu {	
	text-align: center;
}

.sb-menu > li > a {
	font-size: 3rem;
	color: #575D69;
	width: 100%;
	display: inline-block;
	padding: 2rem 5px;
} 

.sb-menu > li > a > p{
	font-size: 1.4rem;
} 

.active{
	background-color: #292C37 !important;
	color: #03A678 !important;
}

/*-----------------------------------------------------------------------------*/

.evento > .fecha {
	display: inline-block;
	color: white;
	text-align: center;
	background-color: #03A678;
	width: 70px;
	padding: 15px 0px;
}

.fecha > p {
	font-style: italic;
	font-size: 1rem;
}

.evento > .desc {
	margin-left: 10px;
	position: absolute;
	display: inline-block;
}

.evento > .desc > h1{

}

.evento > .desc > p{
	font-style: italic;
	font-size: 1.2rem;
}